* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
  color: #e8eaed;
  font-family: 'Raleway', sans-serif;
}

/* Titolo */

.title {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 20px;
}

.fa-clipboard-list{
  font-size: 30px;
  margin-right: 10px;
}

/* Inpunt nuovo to do nella lista */

.add {
 text-align: center;
}

input {
  width: 300px;
  margin: 20px 5px;
  padding: 8px 10px;
  border-radius: 15px;
}

button {
  background-color: #264653;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 8px 6px -6px black;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color:#e63946;
}

/* Lista to do */

.new-todo {
  background-color: #c8aa0e;
  border-radius: 5px;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 25px;
}

.element-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
  border-bottom: 1px solid grey;
  margin-right: 15px;
}

.element-todo:last-child {
  border-bottom: 0;
}

.remove:hover {
  color: #e63946;
  cursor: pointer;
}

.command{
  display: flex;
  align-items: center;
}

/* finestra conferma nota */

.flex2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.hidden{
  display: none;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.popup{
  width: 50%;
  height: 150px;
  background-color: #264653;
  padding: 20px;
  border-radius: 20px;
  z-index: 10;
}

.text{
  font-size: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.btn-si{
  background-color: green;
  flex: auto;
  font-size: 20px;
  margin-right: 10px;
}

.btn-si:hover{
  background-color: #0bea0b;
}

.btn-no{
  background-color: #c81e1e;
  flex: auto;
  font-size: 20px;
  margin-right: 10px;
}

.btn-no:hover{
  background-color: #f00;
}

/* frecce direzione su/giù */

.arrow{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.fa-caret-up:hover{
  background-color:  #938181;
}

.fa-sort-down:hover{
  background-color:  #938181;
}

.disabled{
  opacity:.5;
}

/* Transizioni */

.fade-leave-active {
  transition: opacity .5s;
}

.fade-leave-to {
  opacity: 0;
}
