* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
  color: #e8eaed;
  font-family: 'Raleway', sans-serif;
}

/* Titolo */

.title {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 20px;
}

.fa-clipboard-list{
  font-size: 30px;
  margin-right: 10px;
}

/* Inpunt nuovo to do nella lista */

.add {
 text-align: center;
}

input {
  width: 300px;
  margin: 20px 5px;
  padding: 8px 10px;
  border-radius: 15px;
}

button {
  background-color: #264653;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 8px 6px -6px black;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color:#e63946;
}

/* Lista to do */

.new-todo {
  background-color: #c8aa0e;
  border-radius: 5px;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 25px;
}

.element-todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 20px;
  border-bottom: 1px solid grey;
}

.element-todo:last-child {
  border-bottom: 0;
}

.remove:hover {
  color: #e63946;
  cursor: pointer;
}

/* Transizioni */

.fade-leave-active {
  transition: opacity .5s;
}

.fade-leave-to {
  opacity: 0;
}
