<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>To Do List</title>
  </head>
  <body>

    <div id="app">
      <!-- Titolo -->
      <div class="title">
        <i class="fas fa-clipboard-list"></i>
        <h1>To Do List</h1>
      </div>
      <!-- Inpunt nuovo to do nella lista -->
      <div class="add">
        <input v-model="todo" placeholder="Scrivi una nota..." @keypress.enter="addTodo">
        <button type="button" @click="addTodo">Aggiungi</button class="remove">
        <button type="button" v-if="listTodo.length > 1" @click="removeAll">Cancella tutto</button>
      </div>
      <!-- Lista to do -->
      <div class="new-todo">
        <div v-if="listTodo.length === 0">
          <p>Le note aggiunte vengono visualizzate qui</p>
        </div>
        <transition-group name="fade">
          <div class="element-todo" v-for="(element,i) in listTodo" :key="element">
            <div>
              {{listTodo[i]}}
            </div>
            <div class="command">
              <!-- frecce su/giù -->
              <div class="arrow">
                <i class="fas fa-caret-up" :class='{disabled: i === 0}' @click='up(i)' ></i>
                <i class="fas fa-sort-down" :class ='{disabled: i === (listTodo.length-1)}'@click='down(i)'></i>
              </div>
              <!-- icona elimina nota -->
              <div class="remove" @click="removeTodo(i)">
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </transition-group>
      </div>
      <!-- finestra conferma nota -->
      <div class="back flex2" :class="(clone) ? '' : 'hidden'">
        <div class="popup">
          <div class="text flex">
            Hai già inserito questa nota. Vuoi aggiungerla comunque?
          </div>
          <div class="flex">
            <button class="btn-si" type="button" name="button" @click="confirm">Si</button>
            <button class="btn-no" type="button" name="button" @click="deleteClone">No</button>
          </div>
        </div>

    </div>
    <script src="js/script.js"></script>

  </body>
</html>
